# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Envs
.env*
.venv/
venv/
ENV/
config_example.env

# Logs & data
logs/
*.log
*.csv
*.json
tests
update
data/

# Redis
*.rdb
*.aof
redis-dump.rdb
redis-*.conf

# Windsurf
.windsurf/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Arquivos renomeados
*_old.*